<footer class="site-footer">

    <div class="footer-content">

        <div class="footer-col">

            <img src="./img/logoPaquena.png" class="footer-logo">

            <p>

                O Instituto Língua Solta promove cultura,
                educação, cidadania e inclusão social,
                fortalecendo as tradições amazônicas e
                incentivando novos talentos.

            </p>

        </div>


        <div class="footer-col">

            <h3>Contato</h3>

            <p><strong>Endereço:</strong><br>
                Avenida Maria Oliveira Colares            
                Bairro Nava Brasília, nº 1491<br>
                Santana/AP
                Cep. 68927-299</p>

            <p><strong>Telefone:</strong><br>
            (96) 99200-2600</p>

            <p><strong>E-mail:</strong><br>
            cclinguasolta@gmail.com</p>

        </div>


        <div class="footer-col">

            <h3></h3>

            <div class="footer-logos">

               <img src="/img/governo-federal.webp" alt="Governo Federal">

                <!-- futuramente -->
                <!--
                <img src="./img/minc.png">
                <img src="./img/governo-ap.png">
                -->

            </div>

        </div>

    </div>

    <div class="footer-bottom">

        © 2026 Instituto Língua Solta - Todos os direitos reservados.

        <br>

        Desenvolvido por <strong>Unique STI</strong>

    </div>

</footer>