<header class="site-header">

    <div class="logo">
        <a href="index.html">
            <img src="./img/logoPaquena.png" alt="Instituto Língua Solta">
        </a>
    </div>

    <nav class="menu">

        <ul>

            <li><a href="index.html">Início</a></li>

            <li><a href="texto.html">Quem Somos</a></li>

            <li><a href="projetos.html">Atividades</a></li>

            <li><a href="galeria.html">Galeria</a></li>

            <li><a href="https://www.youtube.com/@linguasoltatv1004"  target="_blank">Vídeos</a></li>

            <li><a href="credenciados.html">Credenciados</a></li>

            <li><a href="prestacao.html">Prestação de Contas</a></li>

            

        </ul>

    </nav>

    <div class="social">

        <a href="https://www.instagram.com/institutolinguasolta/" target="_blank">
            <i class='bx bxl-instagram-alt'></i>
        </a>

        <a href="https://www.youtube.com/@linguasoltatv1004" target="_blank">
            <i class='bx bxl-youtube'></i>
        </a>

        <a href="#">
            <i class='bx bxl-whatsapp'></i>
        </a>

    </div>

    <div class="hamburger">
        ☰
    </div>

</header>